body {
  background-color: #c8dfeb;
  font-family: BluuNext;
  color: #be3812;
  font-size: 1.2em;
}

@font-face {
  font-family: BluuNext;
  src: url("BluuNext-Bold.otf") format("opentype");
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.event-list {
  padding-top: 34px;
}

.submit-button {
  width: 608px;
}

textarea {
  background-color: rgb(248, 236, 221);
}

button {
  background-color: rgb(248, 236, 221);
}

.date {
  background-color: rgb(248, 236, 221);
}

th {
  text-align: left;
}

td {
  padding: 10px;
}

.events-buttons {
  background-color: rosybrown;
  cursor: cell;
  user-select: none;
}

.title {
  text-align: center;
  pointer-events: none;
  user-select: none;
}

.footer-container {
  padding-top: 16px;
}

.spiral {
  width: 20px;
}

.add-form {
  margin-top: 35px;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.logout-button-container {
  display: flex;
  justify-content: center;
}

.logout-button {
  background-color: rosybrown;
  cursor: cell;
  user-select: none;
  padding: 8px;
}

.login-input {
  width: 300px;
}
